{% extends 'components/base.html.twig' %}

{% block title %}Imagin'Woo - Contact{% endblock %}

{% block dataController %}
    contact
{% endblock %}

{% block body %}
    <section class="page-section container">
        <div class="bg-faded rounded m-4 p-4">
            <div class="py-5 text-center">
                <h2>Nous contacter</h2>
                <p class="lead">Afin de nous contacter, veuillez remplir le formulaire suivant, nous nous efforcerons de
                    vous répondre au plus vite.</p>
            </div>

            <div class="col-md-7 col-lg-8 mx-auto">
                <h4 class="mb-3">Vos informations</h4>
                {{ form(form) }}
            </div>
        </div>
    </section>
{% endblock %}
