{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Hello AdminController!</h1>
        <div class="row">
            <div class="col-12">
                <p class="text-center">This is the admin page.</p>
            </div>
        </div>
</div>
{% endblock %}
