/*
 * Fond du logo
 */

@media (min-width: 992px) {
    .headDiv {
        display: block !important;
        height: 140px;
        width: 650px;
        top: 128px;
        background-color: #005596ff;
    }
}

@media (max-width: 991px) {
    .headDiv {
        display: none !important;
    }
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}