/*
 * Fond du logo
 */

@media (min-width: 992px) {
    .headDiv {
        display: block !important;
        height: 140px;
        width: 520px;
        top: 128px;
    }
}

@media (max-width: 991px) {
    .headDiv {
        display: none !important;
    }
}