{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <form id="sendMail" action="contact/sendEmail" method="post"></form>
    <button type="submit" value="test" class="btn btn-primary" form="sendEmail">Primary</button>
{% endblock %}
