{% extends 'base.html.twig' %}

{% block title %}Imagin'Woo - {{ title }}{% endblock %}

{% block body %}
    <section class="page-section container">
        <div class="about-heading-content mb-4">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="mb-4">
                            <span class="section-heading-lower">{{ title }}</span>
                        </h2>
                        <p class="mb-0">
                            {% if text is defined %}
                                {{ text }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
